.home{
    width: 100%;
    height: 100vh;

}
.home h1{
    font-size: 70px;
}
.p-text{
    font-size: 25px;
}
.home-btn{
    border: none;
    outline: none;
    background-color: red;
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    height: 50px;
}